<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/CSS/index_style">
</head>

<body>
    <form action="/boodschappenlijst" method="post">
        Item toevoegen
        <label>
            <input type="text" name="BoodschappenlijstItem" value="<%= locals.firstName %>" />
        </label>
        <button type="submit">toevoegen</button>
    </form>
    <form action="/boodschappenlijst" method="delete">
        Item verwijderen
        <label>
            <input type="text" name="BoodschappenlijstItemVerwijderen" value="<%= locals.secondName %>" />
        </label>
        <button type="submit">verwijderen</button>
        <%= test || 'default' %>
    </form>
</body>

</html>